@import 'variables';

* {
    font-family: 'Nunito', sans-serif;
    h2 {
        font-weight: 700!important;
        font-size: 1.6rem!important;
        letter-spacing: .1em;
    }
    body {
        background-color: $base-gris!important;
    }
    .btn:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        
    }
    .card{
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
        margin-bottom: 20px;
        &:hover{
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
       }
    }
    ul {
        list-style: none;
        padding-left: 0!important;
        
    }
    
    ol {
        padding-left: 0!important;
    }
    .form-check-input:checked {
        background-color: $base-color!important;
        border-color: $base-color!important;
    }
}

.anuncio {
    background-color: $base-color;
}

header  {
    p {
        margin-bottom: .5rem!important;
        margin-top: .5rem!important;
    }
    i {
        margin-top: 0.5rem;
        margin-right: 10px;
    }
}

.main-banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px;
    h1 {
        font-weight: 700!important;
    }
}

.filter {
    border-radius: 4px;
}

.breadcrumb {
    a {
        color: $base-color;
    }
}

//Pagina mi cuenta (perfil)
.menu-scroll {
    border-radius: 4px;
    .nav {
        .active {
            color: $base-color;
        }
    }
}

//Card horizontal - Perfil y carrito
.compra-card {
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 8px 10px 0px rgba(82,82,82,0.18);
    -moz-box-shadow: 0px 8px 10px 0px rgba(82,82,82,0.18);
    box-shadow: 0px 8px 10px 0px rgba(82,82,82,0.18);
    margin-bottom: 15px;
    padding: 15px;
}

//Pills contacto
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: primary-color!important;
    color: white!important;
}

.nav-pills .nav-link {
    color: #141619!important;
}

.accordion-button:not(.collapsed) {
    color: #141619!important;
    background-color: #e9ecef!important;
}

//Estilos footer
footer  {
    .rrss {
        text-align: right;
        i {
            font-size: 18px;
            margin: 5px;
            }
        }
}

@media (max-width: 575.98px) {
    .main-banner {
        background-size: cover;
        padding: 0;
    }
    h2 {
        font-size: 18px!important;
    }
    p {
        font-size: 12px;
    }
    .card-title {
        font-size: 15px;
    }
    .btn {
        font-size: 12px!important;  
    }
    .menu-scroll {
        //Scroll horizontal en movil
        .nav {
            flex-direction: row!important;
            overflow: scroll;
            white-space: nowrap;
            display: block;
            a {
                display: inline-block;
            }
        } 
    }
}
